/* Core 1.0.0 */
/* Contains all essential CSS code required by RapidWeaver and covers aspects like page styles, plugins, HTML styles and resets */ 

/* @group Global HTML */

html {
	font-size: 100%;
}

body {
	-webkit-font-smoothing: antialiased; /* Stops flickering of text caused by CSS3 animations */
}

img {
	border-style: none;
	max-width: none;
}

.image-left {
	float: left;
	position: relative;
	padding: 0;
	margin: 10px;
}

.image-right {
	float: right;
	position: relative;
	padding: 0;
	margin: 10px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	padding: 4px 10px 4px;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #fafafa;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
 	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.xsmall {
	font-size: 8px;
}

.small { 
	font-size: 10px;
}

.medium {
	font-size: 14px;
}

.large {
	font-size: 18px;
}

.xlarge {
	font-size: 24px;
}

.xxlarge {
	font-size: 48px;
}

/* @end */

/* @group Bootstrap Resets */

.carousel-control,
.carousel-control a {
	text-decoration: none;
	font: 100 60px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* Prevent buttons and tabs being underlined */
a.close,
a.accordion-toggle,
.nav a {
	text-decoration: none;
}

hr {
	border-bottom: none;
}

.badge,
.btn,
.label {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @group FreeStyle and ExtraContent Functionality */

/*
Hide FreeStyle and ExtraContent containers, unless they are in their designated placeholders and the page is read. It's advisable to use this HTML code in your theme index.html file, so that users with no Javascript support can still see the content:

<noscript><style type="text/css">#contentWrapper #fs, #sidebar #fs, #contentWrapper div[id*='myExtraContent'], #sidebar div[id*='myExtraContent'] {display: block;}</style></noscript>

*/

#contentWrapper #fs,
#sidebar #fs,
#contentWrapper div[id*='myExtraContent'],
#sidebar div[id*='myExtraContent'] {
	display: none;
}

/* @end */

/* @group RapidWeaver Blog */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	display: none;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* Blog Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Main Blog entries */

.blog-entry {
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.blog-entry-title {
	font-size: 24px;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.blog-entry-title a {
	font-size: 24px;
	line-height: 1.25em;
	padding: 0;
	margin: 0;
	font-style: normal;
}

.blog-entry-date {
	padding: 0 0 15px;
	margin: 0;
}

.blog-read-more {
	display: block;
	margin-top: 0px;
	margin-bottom: 15px;
	font-style: normal;
	font-weight: normal;
}

.blog-entry-body {
	
}

p.blog-entry-tags {
	font-style: normal;
	font-weight: normal;
}

.blog-entry-comments {
    overflow: auto; /* Added 29/07/2013 to stop Disqus comments pushing below sidebar */
} 

/* Styles the category link/s in the main Blog entry */

.blog-entry-category a {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 25px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	padding: 0;
	margin: 0 0 25px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 25px;
	display: block;
}

.blog-rss-link,
.blog-comments-rss-link {
	display: block;
}

/* @end */

/* @group RapidWeaver File Sharing */

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
	margin-bottom: 0px;
}

.filesharing-item-title a:hover {
	font-weight: normal;
}

/* @end */

/* @group RapidWeaver Photo Album */

/* @group Photo Album (thumbnail view) */

.album-title {
	margin-bottom: 0px;
	font: 125% Georgia, "Times New Roman", Times, serif;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

/* @end */

/* @group Photo Album (single image view) */

/* CSS Formatting for Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	padding: 0px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin-bottom: 0px;
	font: 125% Georgia, "Times New Roman", Times, serif;
}

.photo-caption {
	margin: 0;
}

/* @end */

/* @group Photo Album Slideshow */

#flashcontent {
	text-align: center;
}

/* @end */

/* @group Exif Data */

.exif-data {
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

p.exif-version {
	
}

p.exif-colour-space {
	
}

p.exif-focal-length {
	
}

p.exif-dimensions {
	
}

p.exif-pixel-y-dimension {
	
}

p.exif-pixel-x-dimension {
	
}

p.exif-oecf-value {
	
}

p.exif-subsec-time-original {
	
}

p.exif-exposure-mode {
	
}

p.exif-spatial-frequency-response {
	
}

p.exif-scene-capture-type {
	
}

p.exif-subject-location {
	
}

p.exif-shutter-speed {
	
}

p.exif-datetime-original {
	
}

p.exif-subsec-time {
	
}

p.exif-compressed-bits-per-pixel {
	
}

p.exif-flash-energy {
	
}

p.exif-saturation {
	
}

p.exif-brightness {
	
}

p.exif-exposure-time {
	
}

p.exif-f-number {
	
}

p.exif-file-source {
	
}

p.exif-gain-control {
	
}

p.exif-subject-area {
	
}

p.exif-cfa-pattern {
	
}

p.exif-scene-type {
	
}

p.exif-white-balance {
	
}

p.exif-flash {
	
}

p.exif-exposure-index {
	
}

p.exif-flashpix-version {
	
}

p.exif-device-setting-description {
	
}

p.exif-focalplane-x-resolution {
	
}

p.exif-image-uniqueid {
	
}

p.exif-components-configuration {
	
}

p.exif-light-source {
	
}

p.exif-sensing-method {
	
}

p.exif-aperture {
	
}

p.exif-sharpness {
	
}

p.exif-exposure-program {
	
}

p.exif-subject-distance {
	
}

p.exif-subsec-time-digitized {
	
}

p.exif-contrast {
	
}

p.exif-focalplane-resolution-unit {
	
}

p.exif-gamma {
	
}

p.exif-35mm-focal-length {
	
}

p.exif-datetime-digitized {
	
}

p.exif-subject-distance-range {
	
}

p.exif-custom-rendered {
	
}

p.exif-max-aperture {
	
}

p.exif-sound-file {
	
}

p.exif-metering-mode {
	
}

p.exif-spectral-sensitivity {
	
}

p.exif-exposure-bias {
	
}

p.exif-focalplane-y-resolution {
	
}

p.exif-iso-rating {
	
}

p.exif-maker-note {
	
}

p.exif-digital-zoom-ratio {
	
}

p.exif-user-comment {
	
}

/* @end */


/* @end */

/* @group RapidWeaver Movie Page */

.movie-description {
	margin-top: 15px;
	text-align: center;
}

/* @end */

/* @group RapidWeaver Movie Album */

.movie-page-title {
	margin-bottom: 0px;
	font: 125% Georgia, "Times New Roman", Times, serif;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* CSS formatting for Singular Quicktime Movies */

.movie-frame {
	text-align: center;
}

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

/* @end */

/* @group RapidWeaver Contact Form */

div label {
	font-size: 100%;
	padding-top: 0;
	line-height: 36px;
	float: none;
	display: inline;
}

.message-text {
	font-weight: normal;
	font-style: normal;
}

input.form-input-field {
	font-size: 18px;
	width: 75%;
}

textarea.form-input-field {
	line-height: 18px;
	resize: both;
	width: 75%;
}

.form-input-button {
	cursor: pointer;
	display: inline-block;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}

.form-input-button:hover {
	color:#333333;
	text-decoration: none;
	background-color:#e6e6e6;
	background-position:0 -15px;
}

.form-input-button:focus {
	outline: 1px dotted #666;
}

.form-input-button[type="reset"] {
	
}

.form-input-button[type="submit"] {
	color: #ffffff;
	background-color: #0074CC;
	background-image: -moz-linear-gradient(top, #08C, #05C);
	background-image: -ms-linear-gradient(top, #08C, #05C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
	background-image: -webkit-linear-gradient(top, #08C, #05C);
	background-image: -o-linear-gradient(top, #08C, #05C);
	background-image: linear-gradient(top, #08C, #05C);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08C', endColorstr='#05C', GradientType=0);
	border-color: #05C #05C #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	text-shadow: none;
}

.form-input-button[type="submit"]:hover,
.form-input-button[type="submit"]:active {
	background-color:#0055cc;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* @end */

/* @group JS-Kit Override */

.js-singleCommentBodyT {
	display: block;
	margin: 0;
	padding: 17px 0 0;
}

.js-singleCommentHeader {
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
}

.js-OldComments,
.js-commentFieldLabel,
.js-pmFieldLabel,
.js-singleCommentBody,
.js-singleCommentKarmaComMod,
.js-commentBodyLabel,
.js-commentCmtTextarea,
.js-commentAvatarArea,
.js-OldCommentsWrap,
.js-OldComments,
.js-CreateCommentFieldsWrap,
.js-CreateCommentFields,
.js-commentCmtTextarea,
.js-kit-comments div {
	clear: none !important;
}

.js-singleCommentText {
	display: block !important;
	clear: both !important;
}

.js-kit-comments br {
	display: none !important;
}

.js-singleCommentBody br {
	display: block !important;
}

/* @end */



/* @group RapidWeaver Sitemap */

.rw-sitemap {
	display: block;
}

.rw-sitemap ul {
	margin: 0;
}

.rw-sitemap ul li {
	list-style-type: none;
}

.rw-sitemap ul li ul li {
	margin-left: 30px;
}

.rw-sitemap ul li a {
	padding: 5px;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 10px;
	border: none;
}

.tree {
	margin: 0;
}

/* @end */

/* @group YourHead Accordion */

.acToggle {
	padding: 0;
	margin: 0;
	height: auto !important;
	line-height: 1.00em !important;
}

/* @end */


/* @group YourHead Kwix */

.kwix-text h3 {
	padding: 0;
	margin: 0;
	height: auto !important;
	line-height: 1.00em !important;
}

/* @end */

/* @group Loghound Sitemap Plus */

span#sitemap-header {
	display: block;
	padding-bottom: 15px;
}

span#sitemap-footer {
	display: block;
	padding-top: 15px;
}

#sitemap ul {
	padding: 0 !important;
	margin: 0;
}

#sitemap ul ul li {
	padding-left: 2.00em !important;
}

/* @end */

/* @group Nimblehost RapidSearch */

.rapidsearch-header {
	margin-bottom: 15px;
}

table.gsc-search-box td.gsc-input [type="text"] {
	height: 25px;
	display: block;
}

table.gsc-search-box td.gsc-search-button [type="button"] {
	margin-top: -10px;
}

.gsc-clear-button {
	display: none;
}


/* @end */
